<input type="search"  class= "form-control"  name="searchBooks" placeholder="Search Books"
(input)="searchBook($event)">
<div class="col-md-6  col-xl-4" *ngFor="let row of BookData" >
<div class="card" style="width: 18rem;">
    <img src={{row.imgsrc}} class="card-img-top" alt="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{row.name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <h6 class="card-title"> by {{row.author}}</h6>
      <a href="#" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
</div>